{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"project": [
			"./tsconfig.json",
			"./tsconfig.test.json"
		]
	},
	"plugins": [
		"@typescript-eslint",
		"prettier"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"ignorePatterns": [
		"node_modules",
		"vm-filesystem",
		"*.js"
	],
	"rules": {
		"semi": "error",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-floating-promises": "error",
		"@typescript-eslint/no-misused-promises": [
			"error",
			{
				"checksVoidReturn": false
			}
		],
		"prettier/prettier": "error"
	},
	"env": {
		"jest": true,
		"node": true,
		"es6": true
	}
}